[2016-05-18 21:31] jread-usgs opened #1 "download and reformat lake ice dataset"

[2016-05-21 11:02] jread-usgs opened #3 "Create storyboard for chapters w/ rough figs and describe potential user experience"
Straw dog:

1. cool load screen animation
2. Fish are important to economy/tourism and culture [static picture]
3. Fish growth, survival, and reproduction is controlled/influenced by temperature [interactive: select thermal guild for 3~5 fish] -see #4 for prototype
4. Lakes are warming globally, regionally [O'Reilly dataset: map and scatterplot linked?]
5. Lake ice is declining (kind of chapter `4

[2016-05-24 19:59] jordansread commented on #3
@gjahansen2 if you have edits or ideas, and you comment on this thread?

[2016-05-24 20:50] gjahansen2 commented on #3
it will have to be next week, but yes. I am on vacation!

On Tue, May 24, 2016 at 3:44 PM, Jordan S Read notifications@github.com
wrote:

##

Gretchen Hansen
https://gretchenhansen.squarespace.com

[2016-05-25 15:00] jordansread commented on #3
@lawinslow

[2016-05-25 19:07] lawinslow commented on #3
Some thoughts:
1. We have a fair amount of background info, but don't necessarily talk a lot about our work results (currently only #6 is based on our results I think). We'll have to see how long this gets, but could maybe add some large-scale future viz stuff. Maybe a map or two. Just thinking out loud, maybe aggregate "avg lake temp anomaly" past and future.
2. "walk back and forth through the t

[2016-05-25 19:25] jordansread commented on #3
yeah, I agree. Anything you want to remove from the background, or are you thinking of adding a chapter for the future?

[2016-05-25 19:26] lawinslow commented on #3
I was thinking add, and decide how long it is going to be. If removal is needed, that ice stuff could possibly go. We don't actually do anything with that on this project.

[2016-05-25 21:58] jread-usgs opened #5 "user experience for temperature preference figure"
![image](https://cloud.githubusercontent.com/assets/2349007/15557506/04547dc2-2299-11e6-84d1-cc896a5929aa.png)

talked about this one w/ Luke.

The key message here is that there are different thermal guilds for the different species of interest. We'll have the user make a guess as to where the three (?) species' ideal thermal range is and then have them  lock in those choices and reveal the reali

[2016-05-26 16:34] lawinslow commented on #5
Only thought on this is do you need an "i'm done" button, or can that automatically be triggered when the third fish is placed?

[2016-05-26 16:35] jordansread commented on #5
yeah, I think it could work well that way, but I wanted to keep it so you could still move the fish around after you drop them.

[2016-05-31 21:16] gjahansen2 commented on #3
I think we should take out the ice out stuff, since it is not really relevant here. I agree with Luke that there might be too much background here and not enough meat.

One part of the "meat" from the GCB paper that is missing here is the variability among lakes (i.e., some lakes are more resilient than others). This applies both to your #4 (lakes are warming but not all at the same rate or to the

[2016-06-03 19:50] jread-usgs opened #6 "Statewide average trends in bass and walleye figure"
Need data from @gjahansen2

@jread-usgs will animate

[2016-06-03 19:51] jread-usgs opened #7 "draw expected pattern for temperature and probability of wally/bass"
@gjahansen2 need data for GDD figure, Jordan will add "drawing" experience

[2016-06-03 19:51] gjahansen2 commented on #7
what kind of data do you need? The current figure is median with interquartile range. I could give you that or raw numbers.

[2016-06-03 19:52] jread-usgs opened #8 "parallax image backgrounds into framework"
similar to https://www.doi.gov/water/owdi.cr.drought/en

[2016-06-03 19:52] jordansread commented on #8
![image](https://cloud.githubusercontent.com/assets/2349007/15791066/cf0aa7d2-299a-11e6-8cb2-88ca0e8fa168.png)

and more pics @gjahansen2

[2016-06-03 19:53] jread-usgs opened #9 "Create chapter headers and provide pictures"
similar to https://www.doi.gov/water/owdi.cr.drought/en/index.html#StorageCapacity @gjahansen2

[2016-06-03 19:53] jordansread commented on #7
Raw data please

[2016-06-03 19:53] gjahansen2 opened #10 "Maps of projected walleye and bass lakes over time"
Gretchen provides data on probability of each species in each GCM and time period, plus threshold separating good from bad for each species.

[2016-06-03 19:54] jordansread commented on #6
adult abundance vs time please

[2016-06-03 20:05] #1 closed

[2016-06-03 21:03] gjahansen2 commented on #9
@jread-usgs @lawinslow
You can find my initial ideas here: https://drive.google.com/open?id=0BwCnuHTL_uP9VUF0NWdPRGs4eUU
I would like feedback on the pictures and the chapter headers themselves. I also provided a few bullet points regarding content.

[2016-06-03 21:14] gjahansen2 commented on #7
@jread-usgs
Data for both species here:
https://drive.google.com/open?id=0BwCnuHTL_uP9NXZnOTZEVHdUMGM
partial_plot_LMB_GDD_median_quartiles.csv
partial_plot_wae_GDD_median_quartiles.csv

[2016-06-03 21:16] gjahansen2 commented on #10
@lawinslow
Data here: https://drive.google.com/open?id=0BwCnuHTL_uP9NXZnOTZEVHdUMGM
future_lmb_projected_probability.csv
future_wae_projected_probability

These are in "long" format, with a column for time period and model. Probability is listed, plus a binary variable describing walleye recruitment success/failure (1/0) and bass high/low abundance (0/1)

[2016-06-03 21:52] gjahansen2 commented on #6
I need some time to figure out some things with the adult data. I provided YOY walleye and bass CPUE for now. For bass, the earlier data is probably sort of unreliable - I would start it at 1990 or 1991.
https://drive.google.com/open?id=0BwCnuHTL_uP9NXZnOTZEVHdUMGM

[2016-06-05 00:51] jordansread commented on #6
@gjahansen2 so we should be using `walleye_age0_annual_means` and `fall_lmb8_cpue_annual_mean`?

[2016-06-05 01:00] jordansread commented on #7
@gjahansen2 here is what this looks like now:

![image](https://cloud.githubusercontent.com/assets/2349007/15803025/089b1ed8-2a8f-11e6-9240-c1d799131125.png)

[2016-06-06 00:41] gjahansen2 commented on #6
Yes for now. The adult walleye are not sampled as well, and require a more
complicated metric than annual mean. I'll work on it.
On Jun 4, 2016 7:51 PM, "Jordan S Read" notifications@github.com wrote:

[2016-06-06 20:14] gjahansen2 commented on #6
@jread-usgs I added an adult metric that I think is appropriate, although the units are pretty much meaningless. These are the BLUPs from a mixed model of adult walleye density with random effects for lake and year. I thought I should do this because not many lakes are sampled each year, and lakes vary a lot in their densities, so a simple annual mean doesn't really mean much in this context. This

[2016-06-06 20:15] jordansread commented on #9
These are really good! I think we should start with these are the defaults and see how things look together. Read: we will go with this and re-assess when we see the content start to fill in on the prototype site.

[2016-06-06 20:23] jordansread commented on #6
You want to do the same for LMB, or use those as-is?

[2016-06-06 20:24] jordansread commented on #6
what's a BLUP?

[2016-06-06 20:31] gjahansen2 commented on #9
Pics are here: https://drive.google.com/folderview?id=0BwCnuHTL_uP9NnRlQm1tZTUwUEk&usp=sharing plus a couple more

[2016-06-06 20:32] gjahansen2 commented on #6
I think the bass data are ok as is, but I am curious to see what the numbers look like if I do the same thing. Hang tight for a minute. A BLUP is a best linear unbiased predictor - basically the year-specific residuals from a mixed model.

[2016-06-06 20:32] gjahansen2 commented on #6
http://lmgtfy.com/?q=BLUP

[2016-06-06 20:33] jordansread commented on #6
who knows what had come up if I googled that. geez

[2016-06-06 21:01] gjahansen2 commented on #6
I think the trend is about the same here as using the annual means, but here are the largemouth bass data analyzed in the same way.
https://drive.google.com/open?id=0BwCnuHTL_uP9R0JibUxOU3U5b2M

[2016-06-06 21:08] jordansread commented on #6
are we out of luck if we want to start w/ 1991? Should we start w 1994 for both?

[2016-06-06 21:10] gjahansen2 commented on #6
Yeah, the bass data have some issues pre-1994 (very few lakes in database, and some unreliable data). Would it be weird to start them at different times?

[2016-06-06 21:16] jordansread commented on #6
I think that is fine. We can iterate if it seemed weird

[2016-06-06 21:22] jordansread commented on #3
current storyboard is here: https://docs.google.com/document/d/1CQRgaEkpJdS7XYXehVNAB-CnbpQ6_SvZRyc5uo9h0lM/edit

[2016-06-06 21:22] jordansread commented on #5
I think we are dropping this fig.

[2016-06-06 21:22] #5 closed

[2016-06-06 21:23] jordansread commented on #8
@jread-usgs add folder pics into repo

[2016-06-09 19:13] gjahansen2 commented on #7
Cool. Can we lose the dots and make the 'cooler lakes' and 'warmer lakes' labels bigger?

[2016-06-09 19:56] lawinslow opened #15 "Visualization of contemporary lake temperature trends"

[2016-06-09 19:59] lawinslow commented on #15
@jread-usgs @gjahansen2

Ideas/feedback needed here.

One can go a pretty simple route. State-wide lake average summertime surf water temps. Based on WiLMA modeling. The timeseries is noisy but there is a trend to it. Doesn't pop like I usually would want a vis to.

![wi_avg_jas](https://cloud.githubusercontent.com/assets/347600/15944257/65130844-2e52-11e6-8b32-4707bbcb2ac9.png)

Another thing we

[2016-06-09 20:05] gjahansen2 commented on #15
What about maps of change, or percent change? Like this, but with a metric
that makes sense to people (percent increase?) or if you base it on summer
average temperatures, you could say degree increase
[image: Inline image 1]

On Thu, Jun 9, 2016 at 2:59 PM, Luke Winslow notifications@github.com
wrote:

##

Gretchen Hansen
https://gretchenhansen.squarespace.com

[2016-06-09 20:07] lawinslow commented on #15
Yeah, I like that. But it lacks the interactive features that @jread-usgs craves

[2016-06-09 20:07] lawinslow commented on #15
Though I don't think I'll use % change. I'll play around with just degC change.

[2016-06-14 13:47] jordansread commented on #10
@gjahansen2 and @lawinslow thoughts on using the sankey here instead but making it interactive?

[2016-06-14 13:47] jordansread commented on #7
The dots go away when you click "finished", but I like to keep them there before that to show that you can still edit it. That OK?

[2016-06-14 13:51] jordansread commented on #7
initial view:
![image](https://cloud.githubusercontent.com/assets/2349007/16045177/f3c48258-320c-11e6-9508-134e1489ed14.png)

incomplete draw:
![image](https://cloud.githubusercontent.com/assets/2349007/16045196/0ee80d20-320d-11e6-8332-4cb0316b40e5.png)

complete draw:

![image](https://cloud.githubusercontent.com/assets/2349007/16045208/1bc0f9bc-320d-11e6-8c9d-dcf1a9c5a0f6.png)

fold out to reali

[2016-06-14 14:00] gjahansen2 commented on #10
Yes. I like it.

[2016-06-14 14:02] gjahansen2 commented on #7
Ok, so is the end view going to show both what the user drew and the true relationship?

[2016-06-14 15:48] jread-usgs opened #19 "use new vizlab package and viz.yaml"

[2016-06-14 15:49] jordansread commented on #7
yes, currently the bottom part of it "folds out" to the real view. I was thinking your drawing up top would become more transparent, it it would overlay your guess on the real data while explaining it. Something like that, but we probably want to iterate.

[2016-06-14 15:53] jordansread commented on #15
degC change seems fine, and we don't need it to be interactive. Perhaps just a smaller static figure that is inset within the text?

[2016-06-14 17:18] lawinslow commented on #10
Sure, what interaction mode are you thinking? Also, you'll probably have to take it on if you want to go SVG'd interactive.

[2016-06-14 19:21] lawinslow commented on #15
![contemporarylaketrends](https://cloud.githubusercontent.com/assets/347600/16056480/5114f22a-323b-11e6-995d-66414655644c.png)

[2016-06-14 19:22] lawinslow commented on #15
Thinking something like this, though I hate those hot great lake neighbor lakes

[2016-06-14 19:23] lawinslow opened #20 "Future Climate figure"
![futureclimatescenarios](https://cloud.githubusercontent.com/assets/347600/16056518/75d29ae0-323b-11e6-8082-73a89dab06b5.jpg)
@jread-usgs @gjahansen2 thoughts? I've got the original data on hand, so we can do what we want.

[2016-06-14 20:04] gjahansen2 commented on #20
But these aren't the scenarios/models used for this analysis, right?

[2016-06-14 20:08] lawinslow commented on #20
No, but they are the more up to date ones. Torn between "it fulfills the message" and "we should use what we actually use". hmmm

[2016-06-14 20:13] lawinslow commented on #20
Let me see what I can find. Raw data for the older sims is harder to find.

[2016-06-15 13:13] jordansread commented on #19
we want to work in the `fetch`, `process`, and `visualize` sections to the new `viz.yaml`

[2016-06-15 13:17] jordansread commented on #10
Ok, I can take this if we want to go w/ the sankey

[2016-06-15 13:23] jread-usgs opened #24 "section "walleyeDecline" figure content"
MVP:
simple mouseover line plots with the contemporary increase in LM Bass and decrease in Walleye for WI

Nice-to-have:
Animate line drawings through time

[2016-06-15 13:25] jread-usgs opened #25 "section "walleyeBass" figure content"
This is where users discover that bass and walleye prefer different habitats, and that you are more likely to find them in certain lakes.

MVP:
simple mouseover for
![image](https://cloud.githubusercontent.com/assets/2349007/16081317/92e16eee-32d2-11e6-980b-5caedcb5bf21.png)

nice-to-have:
"you draw it" for trends that let's users try to guess. Reality is revealed after they make an attempt, or sc

[2016-06-15 13:26] jordansread commented on #7
see #25

[2016-06-15 13:26] #7 closed

[2016-06-15 13:26] jordansread commented on #6
see #24

[2016-06-15 13:26] #6 closed

[2016-06-15 13:27] jread-usgs opened #26 "section "lakeWarming" figure content"
A visual that covers the concept that lakes have warmed in the contemporary period

MVP: map of °F delta for 1980-present

![image](https://cloud.githubusercontent.com/assets/2349007/16081460/1cb2da9a-32d3-11e6-9b7a-d32c094bb8c1.png)

nice-to-have: ???

[2016-06-15 13:28] jordansread commented on #15
see #26

[2016-06-15 13:28] #15 closed

[2016-06-15 13:30] jread-usgs opened #27 "section "futureWarming" figure content"
A visual that covers the concept that lakes are expected to continue to warm in the 21st century

MVP: a mouseover line plot with the GCM runs used in this study and the A2 scenario for air temperatures
similar to

![image](https://cloud.githubusercontent.com/assets/2349007/16205592/1cb3598c-36ea-11e6-99c7-f94932375c58.png)

nice-to-have: ???

[2016-06-15 13:30] jordansread commented on #20
#27

[2016-06-15 13:30] #20 closed

[2016-06-15 13:33] jread-usgs opened #28 "section "futureSuitability" figure content"
A visual that covers changing wally/bass lakes into the future

MVP: Sankey figure w/ mouseovers?
![image](https://cloud.githubusercontent.com/assets/2349007/16215979/98471c5e-372c-11e6-9ae5-0817bbfb739e.png)

nice-to-have: a nice slider map of changing lakes? a map linked to the sankey?

[2016-06-15 13:33] jordansread commented on #28
if we use the sankey, we need to be consistent throughout the viz with what colors are used for Wally and Bass

[2016-06-15 13:33] jordansread commented on #10
#28

[2016-06-15 13:33] #10 closed

[2016-06-15 13:34] jordansread commented on #9
Calling this done for the time being. Pics are in and headings are in place.

[2016-06-15 13:34] #9 closed

[2016-06-15 13:36] jread-usgs opened #29 "section "walleyeDecline" text content"
- Walleye are a preferred species for many anglers, and important to Wisconsin’s economy and culture.
- Some have hypothesized that largemouth bass are directly responsible for walleye declines. However, evidence to date does not support this claim.

Need @gjahansen2 to propose how this text goes into the viz. Ask bullets? prose?

[2016-06-15 13:38] jread-usgs opened #30 "section "walleyeBass" text content"
- Temperature is key characteristic determining the suitability of a lake for walleye or largemouth bass.
- Interactive figure drawing the relationship between DD and each species.
 - Key points:
Walleye prefer cool water
LMB prefer warm water
The relationship for each species shows a threshold response – the shape is flat above and below a certain point. All lakes below a certain temperature thre

[2016-06-15 13:39] jordansread commented on #30
related to #25

[2016-06-15 13:42] jread-usgs opened #31 "capture data fetch and processing for "wallyDecline" section figs"
Currently this is ad-hoc, but we need to host the data on SB, pull it down w/ a fetch and process it into the format we need for visualize.

[2016-06-15 13:44] jordansread commented on #31
1) create SB community for this viz (like we did with microplastics)
2) host raw data on SB
3) modify viz.yaml to include the SB keys, file names, etc
4) write a process script to convert the data into the figure inputs

[2016-06-15 13:46] jordansread commented on #31
Currently, fetch, process, and visualize are all garbled up together: https://github.com/USGS-VIZLAB/climate-fish-habitat/blob/master/scripts/2_munge/munge_bass_wally_decline.R

[2016-06-15 13:48] jordansread commented on #25
@lindsaycarr I would like feedback on the current user experience:
https://github.com/USGS-VIZLAB/climate-fish-habitat/blob/master/sandbox/draw_lines.svg

(you'll need to open that file in a browser)

[2016-06-15 13:48] jordansread commented on #25
Assigning to lcarr for review and feedback. See discussion in #7

[2016-06-15 13:50] jread-usgs opened #32 "section "lakeWarming" text content"
- Some lakes have warmed more than others.
 - Lake size, depth, clarity, and tree cover surrounding the lake all influence how much lakes have warmed.

[2016-06-15 13:56] lindsayplatt commented on #25
I think I need to fork and open the file into a browser from my computer - doesn't seem to be doing anything when I right click and say "open image in new tab".

[2016-06-15 13:57] jordansread commented on #25
yes, you'll either need to download it or fork and open.

[2016-06-15 14:08] lindsayplatt commented on #25
@jread-usgs this is all I see when I open the file. I am only seeing the last line segments

![image](https://cloud.githubusercontent.com/assets/13220910/16082867/a15273fa-32d8-11e6-8d6d-f43030e06484.png)

[2016-06-15 14:18] gjahansen2 commented on #9
@jread-usgs can I see it?

[2016-06-15 14:20] gjahansen2 commented on #29
I guess that question applies more broadly to the content of each section of the viz. Do we want prose or bullet points? In any case, the meat of the text for each section needs to be written (by me). My gut feeling is bullet points but I can be persuaded.

Where/how is the best place for me to edit this text? In the google doc or somewhere else in this crazy github world?

[2016-06-15 14:21] lawinslow commented on #29
Agreed on bullet points.

[2016-06-15 14:22] gjahansen2 commented on #30
Obviously this text is terrible. where do you want me to edit it (google docs or here or somewhere else) and do you like bullet points or prose?

[2016-06-15 14:38] jordansread commented on #30
You could just add the preferred text to this issue, and we can get it in from there. Or you could step into the github world...

[2016-06-15 14:44] lindsayplatt commented on #25
Thoughts on fig:
- before being told it was a "draw your own" scenario, I thought it was broken. There will obviously be more context around this in the actual viz, but I also think that the figure should be able to stand alone. Maybe there should be grey text in the middle of the plot that says "Try drawing the health probability lines for each species" and it goes away once you start drawing. Th

[2016-06-15 14:52] gjahansen2 commented on #30
I want to learn!

On Wed, Jun 15, 2016 at 9:38 AM, Jordan S Read notifications@github.com
wrote:

##

Gretchen Hansen
https://gretchenhansen.squarespace.com

[2016-06-15 15:46] lindsayplatt commented on #31
- [x] create SB community for this viz: [new folder in VizLab community](https://www.sciencebase.gov/catalog/item/5761775ae4b04f417c2d2f78?community=Visualization+Laboratory)
- [x] host raw data on SB
- [x] modify viz.yaml to include the SB keys, file names, etc
- [x] write a process script to convert the data into the figure inputs

[2016-06-15 15:49] jordansread commented on #25
Thanks! I will chip away at these suggestions and probably ping you to review again in the future.

[2016-06-15 16:03] jordansread commented on #30
@gjahansen2 you can also add new text keys in there if you want. Such as `walleyeBass-p1` for paragraph 1
or `walleyeBass-bullet-1` for a bullet point

[2016-06-15 16:03] jordansread commented on #30
the file is yaml. Info on that: http://www.yaml.org/start.html

[2016-06-15 16:06] jordansread commented on #30
Other helpful links: https://guides.github.com/activities/hello-world/#commit

[2016-06-15 17:06] lindsayplatt commented on #31
do we want a munge.yaml like we had in microplastics viz? https://github.com/USGS-VIZLAB/great-lakes-microplastics/blob/master/munge.yaml

[2016-06-15 17:22] lawinslow commented on #31
@jread-usgs and I were thinking about going with just a single munge/visualize step. Unless VIZLAB requires separate steps?

[2016-06-15 17:40] lindsayplatt commented on #31
Idk, that would be a @jiwalker-usgs question

[2016-06-15 18:01] jordansread commented on #31
No, combining munge and viz was a placeholder while we were working in sandbox. Lindsay is working on teasing out the separate pieces as part of this task

[2016-06-15 18:01] jordansread commented on #31
but @lindsaycarr there won't be a munge.yaml to answer your question

[2016-06-16 13:03] jread-usgs opened #38 "capture data fetch and processing for "futureSutability" section figs"
similar to #36 , this is for untangling the "munge" and "visualize" steps in https://github.com/USGS-VIZLAB/climate-fish-habitat/blob/master/scripts/2_munge/sankey_fig.R

[2016-06-16 13:03] jordansread commented on #38
@lindsaycarr up for this one too?

[2016-06-16 13:04] jordansread commented on #28
@lindsaycarr see the figure above? It is static right now and it would be great to hear your thoughts on good things to add when making it interactive. Do you have ideas?

[2016-06-16 14:18] gjahansen2 commented on #25
For comparing the one you drew to the actual relationship, why not something like this? Although I would suggest dotted, slightly transparent line for "your guess" and solid line for the true relationships. And the colors can be for the species, as always.
![image](https://cloud.githubusercontent.com/assets/19436778/16119927/4cecfc74-33a3-11e6-9c50-16b094764ed7.png)

[2016-06-16 14:19] gjahansen2 commented on #25
I also like how the yellow areas on the NYT viz are accompanied by text at the top saying "keep drawing!" if you don't fill out the whole range.

[2016-06-16 14:26] gjahansen2 commented on #32
- Not all lakes are the same, and they respond differently to climate.
- Some lakes have warmed more than others.
- Some lakes have always been warmer than others - for example, lakes in southern Wisconsin are generally warmer than lakes in northern Wisconsin.
- Lake size and depth, water clarity, and surrounding tree cover all influence how lakes respond to air temperature.
- Differences in tempe

[2016-06-16 14:32] gjahansen2 commented on #30
- Water temperature is key characteristic determining the suitability of a lake for different species of fish, such as walleye or largemouth bass.

[interactive figure]

[after they draw their figure]
- In general, walleye naturally reproduce more successfully in cool lakes, and largemouth bass populations are most abundant in warm lakes.
- Cool lakes that are best for walleye are the worst places

[2016-06-16 14:35] gjahansen2 commented on #25
I dislike the characterization of "healthy walleye/bass fishery'. Lots of issues there. How about "Probability of abundant walleye/largemouth bass populations"? Too nerdy?

[2016-06-16 14:38] gjahansen2 commented on #29
- Anglers target both walleye and largemouth bass in Wisconsin lakes.
- Walleye  are preferred by many anglers, and are important to Wisconsin’s economy and culture.
- Much interest exists in understanding the causes of walleye population declines and whether they can be reversed.
- There are many possible explanations for the observed changes in Wisconsin lake fish communities.
- Some have hypoth

[2016-06-16 14:43] lindsayplatt commented on #28
I saw your note about a map - I think it would be cool to have points on the map highlight at the same time the corresponding the species sankey bars do. Plus, whatever piece of the bar your mouse is over (walleye, coexistence, bass, or neither) should highlight any lines coming off of it leading to the next one. You also say a "slider map" which I assume is for the different years. When you move

[2016-06-16 14:58] jordansread commented on #25
WAY too nerdy. I figured my choice there wouldn't fly, but it needs to be a compromise with the level of detail we want in the science paper vs for the public. Think along the lines of calling high GDD "warm lakes"

[2016-06-16 15:00] gjahansen2 commented on #25
We need Jon Hansen to weigh in here. he helps keep my inner nerd at bay.

:couple:

[2016-06-16 15:09] gjahansen2 commented on #25
It's a pretty big burn to be called WAY too nerdy by you, @jread-usgs :eyeglasses::straight_ruler::iphone::floppy_disk::wink:

[2016-06-16 15:33] lindsayplatt commented on #31
@jread-usgs is this good to close?

[2016-06-16 15:35] #31 closed

[2016-06-16 19:01] mwernimont commented on #8
@jread-usgs Was this accomplished or am still missing something?

[2016-06-16 20:15] lindsayplatt commented on #38
- [x] host raw data on SB
- [x] modify viz.yaml to include the SB keys, file names, etc
- [x] write a process script to convert the data into the figure inputs

[2016-06-16 20:33] lindsayplatt commented on #38
@jread-usgs are we calling this `futureSuitability` or `habitatShifts`? Seems like viz.yaml uses both and it's kind of confusing

[2016-06-16 22:40] jordansread commented on #38
`futureSutability`

[2016-06-17 13:56] gjahansen2 commented on #25
Probability of abundant bass/walleye. -Jon Hansen

[2016-06-17 22:22] jordansread commented on #24
@gjahansen2 using the new residuals data, but should this be exceeding 1?

this is bass:
![image](https://cloud.githubusercontent.com/assets/2349007/16166342/1d61f988-34b0-11e6-8f73-b6e90ff6f3dd.png)

[2016-06-18 20:04] jordansread commented on #25
changed ☝️ .

what about just having the user draw one line, walleye, and giving them the line for bass?

![image](https://cloud.githubusercontent.com/assets/2349007/16173401/d6b81510-3565-11e6-8b3e-4e89dbe9e1c7.png)
@gjahansen2

[2016-06-20 01:11] jordansread commented on #26
@lawinslow what about your observed trends (Winslow ea 2015; S1; but only the 3,000+ pairs) figure changed to a delta °C?
![image](https://cloud.githubusercontent.com/assets/2349007/16181012/b408e568-3659-11e6-976b-14ab9acebe6a.png)

[2016-06-20 02:55] jordansread commented on #28
@lindsaycarr what you you think about the sankey lines ending w/ the color of the bin they are merging in vs not:

![image](https://cloud.githubusercontent.com/assets/2349007/16182161/82286a78-3668-11e6-9f57-5840dbcd4f73.png)

vs

![image](https://cloud.githubusercontent.com/assets/2349007/16182163/8e1f9202-3668-11e6-8154-0ee84f67f557.png)

(note the first has a gradient, the second does not)

[2016-06-20 13:44] gjahansen2 commented on #26
ooh, I like that.

[2016-06-20 13:45] gjahansen2 commented on #25
that sounds like it could work well!

[2016-06-20 13:49] gjahansen2 commented on #24
Yes, its ok that it exceeds 1.

[2016-06-20 13:50] gjahansen2 commented on #24
Can we add a trendline to make it more clear that this is increasing?

[2016-06-20 14:15] lindsayplatt commented on #28
@jread-usgs I think that's pretty cool!

[2016-06-20 15:28] jordansread commented on #28
@lindsaycarr the gradient?

@gjahansen2 do you have an opinion on this one too?

[2016-06-20 15:31] jordansread commented on #24
yes

[2016-06-20 15:31] lindsayplatt commented on #28
@jread-usgs yes the gradient

[2016-06-20 15:32] jordansread commented on #28
from Gretchen for this fig:
- [ ] Will there be a place to define what "walleye dominant" and "bass dominant" mean? Is it better to do that within the interactive figure, or within a caption or something? Definitely need to at least say somewhere that "bass" refers to largemouth bass.
- [ ] For "Neither" and "Coexistence" lakes, can we change the text to be more understandable? "43 lakes where bot

[2016-06-20 15:38] jordansread commented on #28
Also, should "Neither" be a bin category? Think about this: If we remove "Neither" and have the flow lines come out of a gradient transition from nothing to the color of the bin it is moving into, is that more intuitive, or less intuitive? Likewise, when dropping out of bass into neither, the flow line would start red and fade to totally transparent.

[2016-06-20 15:44] gjahansen2 commented on #28
I like the gradient.

I am not sure I get what it would look like without a "neither' bin. Where would the lakes that are becoming bass lakes (from neither) come from? Where would the walleye lakes that are losing walleye and not gaining bass go to?

[2016-06-20 15:51] lawinslow commented on #26
Could do that, let's see what the it looks like with sparse dots.

[2016-06-20 16:55] jordansread commented on #26
With a smaller number of sites, the mouseover could actually reveal a small inset plot for that site with the actual time series water temp data. A "nice-to-have"?

[2016-06-20 18:23] jordansread commented on #27
@lawinslow is your fig going to be static or interactive?

[2016-06-20 20:36] jordansread commented on #28
here's is kind of what it would look like. I don't think I like it. Seems more confusing
![image](https://cloud.githubusercontent.com/assets/2349007/16209455/bbfd4dba-36fc-11e6-82a1-55c705911aa6.png)

[2016-06-20 20:41] gjahansen2 commented on #28
I like having the 'neither' bin.

On Mon, Jun 20, 2016 at 3:36 PM, Jordan S Read notifications@github.com
wrote:

##

Gretchen Hansen
https://gretchenhansen.squarespace.com

[2016-06-20 20:53] jordansread commented on #28
me "neither" loolz

[2016-06-20 21:00] jordansread commented on #28
@gjahansen2 for your comments above ☝️

"Will there be a place to define what "walleye dominant" and "bass dominant" mean?" `yes, in the figure caption I assume`

"For "Neither" and "Coexistence" lakes, can we change the text to be more understandable?" you're recommendations make me think we might need special text for each one. `Right now I built it programmatically, so it is based on the combin

[2016-06-20 21:05] gjahansen2 commented on #28
Hmm...I hate to say yes it is super important right now, when there is so much other stuff that is probably more important. So let's just wait and see how it all unfolds, and maybe get some feedback from others once it is all together in a viz that we are ready to show to someone else.

[2016-06-20 21:57] lindsayplatt commented on #38
should be :+1: once we merge in #44

[2016-06-21 02:30] jread-usgs opened #46 "draft press release"
@gjahansen2 assigning this to you, but I had some ideas for key points.

1) this research predicts a higher number of lakes that supported neither bass or wally to support either in the future (positive note. poorly worded..)
2) wally predicted to continue to decline
3) Even w/ the most extreme warming scenario, some walleye lakes are resilient

[2016-06-21 13:35] #38 closed

[2016-06-21 19:55] jread-usgs opened #48 "make it so the mobile view of the app still displays figures"
mobile scales down but the images don't get small enough:

![image](https://cloud.githubusercontent.com/assets/2349007/16244120/308176b6-37c0-11e6-9e48-4a4a949ff74a.png)

[2016-06-21 20:28] jordansread commented on #32
added in #49

[2016-06-21 20:28] #32 closed

[2016-06-21 20:28] jordansread commented on #30
added in #49

[2016-06-21 20:28] #30 closed

[2016-06-21 20:29] jordansread commented on #29
added in #49

[2016-06-21 20:29] #29 closed

[2016-06-21 20:30] jread-usgs opened #50 "section "futureWarming" figure content"
![image](https://cloud.githubusercontent.com/assets/2349007/16245123/fe8b5604-37c4-11e6-80ae-5e4cd32816b9.png)

content as of now ☝️

[2016-06-21 20:31] jread-usgs opened #51 "section "futureSuitability" text content"
content as of now:
![image](https://cloud.githubusercontent.com/assets/2349007/16245163/2fdef33c-37c5-11e6-82d2-aa391e1c9431.png)

[2016-06-21 20:32] jread-usgs opened #52 "section "fishManagement" text content"
![image](https://cloud.githubusercontent.com/assets/2349007/16245192/4ba6b532-37c5-11e6-823c-2110313c1c17.png)

[2016-06-22 01:43] jordansread commented on #28
@gjahansen2

[code]

I added some text to have those flows and bins make more sense, but it was incomplete and probably not the exact wording you would have chosen. The pattern ☝️ is `bin` (one word, like "Walleye") or `flow`, left to right ("Walleye-Bass" means moving from wally to bass). The `%s` is where the number of lakes is subbed in.

If you have edits, you can comment here and I can modify

[2016-06-22 01:45] jordansread commented on #28
![image](https://cloud.githubusercontent.com/assets/2349007/16252110/24da84ac-37f1-11e6-99cf-8cb2b33230bf.png)
e.g.

[code]

[2016-06-22 01:59] jread-usgs opened #54 "Fix read for wally and bass trends data"
@lindsaycarr I think the `read` for the trends data isn't quite catching the proper col names:

![image](https://cloud.githubusercontent.com/assets/2349007/16252327/d97c6316-37f2-11e6-8f40-72bc0e349f0f.png)

[2016-06-22 02:00] jordansread commented on #24
I also want to combine these two into a single fig I think.

[2016-06-22 15:25] mwernimont commented on #48
@jread-usgs  this should fix it #56

[2016-06-22 20:23] #3 closed

[2016-06-22 20:23] jordansread commented on #48
Still same issue. Got a screen shot of what you are seeing?

[2016-06-22 20:24] jordansread commented on #19
The three steps requested above are good to go

[2016-06-22 20:24] #19 closed

[2016-06-22 20:24] jordansread commented on #25
Ok, I will give that a shot and see how much that helps

[2016-06-23 12:41] mwernimont commented on #48
![screen shot 2016-06-23 at 7 40 59 am](https://cloud.githubusercontent.com/assets/6390096/16303367/e24e3194-3915-11e6-9ecb-65743fd2c835.png)
![screen shot 2016-06-23 at 7 40 44 am](https://cloud.githubusercontent.com/assets/6390096/16303380/e9e08a42-3915-11e6-949b-758268f97d77.png)
![screen shot 2016-06-23 at 7 40 52 am](https://cloud.githubusercontent.com/assets/6390096/16303382/ec5dc56e-3915-11

[2016-06-23 12:41] mwernimont commented on #48
@jread-usgs What I see on smaller screens

[2016-06-23 16:01] #54 closed

[2016-06-27 01:57] jordansread commented on #24
As with above, I was thinking both trends on the same fig, and as it animates through time, the number of wally/bass in the sides of the fig change to show the shifts in dominance. Something like this but with them in a different place (more out of the way), more fish that are smaller, and maybe proportional in number to the trends.

![image](https://cloud.githubusercontent.com/assets/2349007/1636

[2016-06-27 14:16] jordansread commented on #24
@lindsaycarr is combining the two into one figure. I will work on adding a legend later (one that will probably be shared w/ fig 2)

[2016-06-27 15:23] jordansread commented on #48
fixed

[2016-06-27 15:23] #48 closed

[2016-06-27 19:49] jordansread commented on #24
w/ @lindsaycarr 's work:

![image](https://cloud.githubusercontent.com/assets/2349007/16393408/4726f9ee-3c76-11e6-8a45-af7df45f5f49.png)

@gjahansen2 I don't know that relative abundance works well for this since the baseline populations for these two are so different
Should the numbers be weighted in some way based on how many lakes these two appear in?

[2016-06-28 13:17] jordansread commented on #24
drawing in the lines w/ the fish moving left and right:
![image](https://cloud.githubusercontent.com/assets/2349007/16474404/24a0326a-3e3c-11e6-94a1-2a959e748d6a.png)

[2016-06-28 14:40] gjahansen2 commented on #24
Is this walleye adult population? I think the trend would be more clear with the recruitment data. But the numeric scale might be different (2 y-axes, perhaps?). I like the fish outlines!

[2016-06-28 14:52] gjahansen2 commented on #51
![millelacs_sun_boats](https://cloud.githubusercontent.com/assets/19436778/16420173/00120b98-3d16-11e6-9d41-00479ba5435b.jpg)

[2016-06-28 14:52] gjahansen2 commented on #51
^^potential new picture?

[2016-06-28 14:53] jordansread commented on #51
as background, or as a pic within the section? I like it. Milacs?

[2016-06-28 14:55] gjahansen2 commented on #51
Probably background. The picture of Jon with both species could be a picture within the section if there is room. This is Mille Lacs, yes

[2016-06-28 14:57] jordansread commented on #51
ok, can you email me the full res version?

[2016-06-28 14:59] gjahansen2 commented on #51
emailed

[2016-06-28 15:01] gjahansen2 commented on #52
- Nearly 100 lakes in Wisconsin are predicted to support naturally reproducing walleye populations even under extreme warming conditions.
- These  lakes are resilient to climate change, and should be protected from other stressors such as habitat loss, invasive species, or overfishing to maximize the potential for continued walleye production.
- Some lakes that are unlikely to  support natural wal

[2016-06-28 15:01] gjahansen2 commented on #52
Actually, the picture of Jon with both fish should be here, I think.

[2016-06-28 15:01] gjahansen2 commented on #52
And maybe the Mille Lacs background picture should be on this one too. I was confusing the two sections.

[2016-06-28 15:06] gjahansen2 commented on #51
See comments on fish management section, I think that is the better place for the new picture and the picture of Jon.
Text for this section:
- As water temperatures warm, many present-day walleye lakes will transition into largemouth bass lakes.
- The majority of Wisconsin lakes lakes are expected to contain high density largemouth bass populations by the mid-21st century.
- A small percentage of

[2016-06-28 15:09] gjahansen2 commented on #50
- As air temperatures increase, we expect lake temperatures to increase as well.
- However, not all lakes will respond equally to climate change.
- The  incredible diversity of lake types in Wisconsin means that we can expect different warming rates in big vs. small lakes, deep vs. shallow lakes, clear vs. turbid lakes.
- Understanding differences among lakes in their responses to climate change i

[2016-06-28 15:11] gjahansen2 commented on #28
This is better. The only hang up I have at this point is the use of the word "now" to describe future scenarios. Can we change to "predicted to"? So "120 lakes predicted to support bass"? Or maybe also add the time period? so "120 lakes predicted to support bass in late century"?

[2016-06-28 15:17] jordansread commented on #51
where do we use the pic of Ada ;) ?

[2016-06-28 15:22] gjahansen2 commented on #51
Oh yeah, we definitely need that in there too.

On Tue, Jun 28, 2016 at 10:17 AM, Jordan S Read notifications@github.com
wrote:

##

Gretchen Hansen
https://gretchenhansen.squarespace.com

[2016-06-29 15:06] jordansread commented on #51
@gjahansen2
`See comments on fish management section, I think that is the better place for the new picture and the picture of Jon.`
I am confused, I thought this new pic was to replace the pic of Jon as the background of this section (futureSuitability), do you want it to be used in the `fishManagement` section (the one that follows this section) instead? If so, what picture would be used as the b

[2016-06-29 15:13] jordansread commented on #51
Am not a big fan of the styling of the bullets, but we can change that later. Is this what you had in mind @gjahansen2 ?
![image](https://cloud.githubusercontent.com/assets/2349007/16457721/1bef0b78-3de2-11e6-9bc6-1b39242517c0.png)

[2016-06-29 15:23] jordansread commented on #52
OK, just saw these comments, so you can ignore my questions on the other issue about background pictures

[2016-06-29 15:24] jordansread commented on #52
Pic of jon w/ fish and pic of Ada w/ bass in this section? might make sense since the "coexist" and "bass dominated" are two of the bright spots coming out of this section.

[2016-06-29 15:37] jread-usgs opened #61 "welcome text"
or have none.

Currently,
![image](https://cloud.githubusercontent.com/assets/2349007/16458633/63b7ff3e-3de5-11e6-96cf-4f4d339cd6bf.png)

Here is what we did for microplastics (still in progress with the social media icons):
![image](https://cloud.githubusercontent.com/assets/2349007/16458653/7584e9de-3de5-11e6-8247-f26faaf82ec0.png)

[2016-06-29 16:28] gjahansen2 commented on #52
Sounds fine, then I guess the new Mille Lacs pic in the other section? Maybe it is best to just work it up however you think it works best, then comment and change as needed.

[2016-06-29 16:38] gjahansen2 commented on #51
lakes is repeated in the second bullet (Wisconsin lakes lakes).
I don't like the font/styling either but we can deal later.

On Wed, Jun 29, 2016 at 10:13 AM, Jordan S Read notifications@github.com
wrote:

##

Gretchen Hansen
https://gretchenhansen.squarespace.com

[2016-06-30 14:42] jordansread commented on #24
@gjahansen2 can you do a simple mock-up of what you are thinking? We are using the data that you suggested (the BLAM) for both. I can point to the files that we are using if that would be helpful.

[2016-06-30 14:44] gjahansen2 commented on #24
BLUP?

[2016-06-30 14:46] gjahansen2 commented on #24
I just mean that the adult walleye data do not show the same decline as the walleye recruitment data. Plus, walleye recruitment is what we are measuring anyway. So why not plot recruitment for walleye? But it might not be on the same scale as the bass data, so if you want them on the same plot, you might need two y axes

[2016-06-30 14:52] gjahansen2 commented on #24
![image](https://cloud.githubusercontent.com/assets/19436778/16492736/63a28f28-3ea8-11e6-8647-ed280db19d5f.png)

[2016-06-30 14:53] gjahansen2 commented on #24
Note that I removed 2015 from the bass data because i learned it is incomplete

[2016-06-30 14:57] jordansread commented on #24
OK, I see. Thanks

[2016-07-01 15:11] jordansread commented on #61
@gjahansen2 got any goodies or suggestions for this?

[2016-07-01 15:13] jread-usgs opened #63 "use background images w/ svg rect overlay so we can control the darkness easily"
Instead of modifying the images themselves, I would rather us be able to use an svg as the background which includes the image within in. Then we can overlay a 100% width/height rect element with a 0-1 opacity value (and some color, like dark grey) so we have more control over these images w/o re-writing them.

[2016-07-01 15:14] jordansread commented on #52
Have added the text, but we should deal with the organization of pictures and backgrounds as a separate issue

[2016-07-01 15:14] #52 closed

[2016-07-01 15:15] #51 closed

[2016-07-01 15:16] jread-usgs opened #64 "improve style of text sections"
Bullet points and default `<p>` text is a bit bland.

Can someone take the reins on some design suggestions?

[2016-07-01 15:17] jordansread commented on #8
done

[2016-07-01 15:17] #8 closed

[2016-07-01 15:25] gjahansen2 commented on #61
# Climate change and freshwater fish

## Lakes in Wisconsin are getting warmer, and fish communities are changing as a result.

### Understanding recent trends and anticipating future changes can help decision-makers protect resilient populations and adapt to new conditions.

[2016-07-01 15:27] gjahansen2 commented on #61
mic drop. I am headed north for the weekend.

[2016-07-05 16:04] jordansread commented on #24
@gjahansen2 here is what I have now:

![image](https://cloud.githubusercontent.com/assets/2349007/16591171/405e1130-42a0-11e6-8b53-ad33c93b72ec.png)

[2016-07-05 16:14] gjahansen2 commented on #24
That is better for sure. What do you think about trendlines? Maybe just as
faint, transparent or dashed lines, but to give the viewer the stronger
sense of walleye down and bass up.

On Tue, Jul 5, 2016 at 11:04 AM, Jordan S Read notifications@github.com
wrote:

##

Gretchen Hansen
https://gretchenhansen.squarespace.com

[2016-07-05 16:16] jordansread commented on #24
I have mixed thoughts on the trendlines. I think they are clear, but the animation of the two populations moving from right to left also does that. I hoped to keep the clutter down, which is the only reason I am skipping the trendlines for now. I also need to add a mouseover legend for the values too, so I want to protect the space if possible.

Alternative idea @gjahansen2, we could add the dashe

[2016-07-05 16:18] jordansread commented on #24
you just doing an `lm()` of time vs value for that line?

[2016-07-05 16:28] jordansread commented on #64
@gjahansen2 please weigh in here with suggestions

[2016-07-05 16:28] jordansread commented on #61
GH is suggesting changing this to:

![image](https://cloud.githubusercontent.com/assets/2349007/16591885/a7be5828-42a3-11e6-9927-42b9c1be2559.png)

[2016-07-05 16:31] gjahansen2 commented on #24
I like the idea of adding trendlines after the animation is complete. I
hadn't seen it in animated form yet, so maybe filling in the two
populations over time will solve the issue. Yes, just regression line over
time.

On Tue, Jul 5, 2016 at 11:18 AM, Jordan S Read notifications@github.com
wrote:

##

Gretchen Hansen
https://gretchenhansen.squarespace.com

[2016-07-05 16:33] gjahansen2 commented on #64
Text needs to be much, much larger.
Bullets could be a more interesting shape than filled black circle - even an open circle would probably look better, or maybe a ‣

[2016-07-05 16:34] gjahansen2 commented on #61
And then there could be the white space with the last piece of text ("understanding..." above) to separate this picture from the next.

[2016-07-06 14:08] jordansread commented on #64
fixed in #65

[2016-07-06 14:08] #64 closed

[2016-07-06 14:11] jread-usgs opened #67 "style updates"
- [x] change theme color on header. The blue doesn't quite fit
- [x] create mobile image swap ins (create the pattern for one and I can follow it for others)
- [x] create a figure caption class (kind of like on Lower CO river drought app)
- [x] add support for inline photo (see below)
- [ ] ~~make footer color match header color~~

[2016-07-06 18:38] jordansread commented on #67
@mwernimont can you add a slightly different color to the caption class (the background color)?

[2016-07-06 18:40] jordansread commented on #67
for the forth box:
![image](https://cloud.githubusercontent.com/assets/2349007/16630254/3fbd4856-437f-11e6-8165-b18e77600adb.png)

[2016-07-06 19:03] mwernimont commented on #67
Something not right?

[2016-07-06 19:04] jordansread commented on #67
oh, this is for the forth check box - a class that supports a smaller pic used in the app, such as the paste thing I put in there.

[2016-07-07 14:21] jordansread commented on #67
@mwernimont see above for footer color

[2016-07-07 20:00] jordansread commented on #67
all good

[2016-07-07 20:00] #67 closed

[2016-07-08 12:34] jordansread commented on #61
desktop:
![image](https://cloud.githubusercontent.com/assets/2349007/16687443/48515e70-44de-11e6-9fb4-b8a1d57bc47e.png)

mobile:
![image](https://cloud.githubusercontent.com/assets/2349007/16687451/56ab4de6-44de-11e6-95a9-8160cff16f9d.png)

we probably want to do a little tweaking on parts of how that last piece works, but I think this update covers this issue. Agree @gjahansen2 ?

[2016-07-08 12:38] jordansread commented on #28
Somehow these changes were lost:
![image](https://cloud.githubusercontent.com/assets/2349007/16687559/0256f884-44df-11e6-8b8f-21b146489c25.png)

tracking that down...

[2016-07-08 12:59] jordansread commented on #28
Ok, figured that out and updated the text in #73

[2016-07-08 13:14] jordansread commented on #27
Should we somehow highlight (subtly?)  the time periods in "futureSuitability" on this fig?
those periods are:
![image](https://cloud.githubusercontent.com/assets/2349007/16688513/02f1d034-44e4-11e6-845b-6a8c59d53a9e.png)

[2016-07-08 14:20] jordansread commented on #24
@gjahansen2 w/ trendline:
![image](https://cloud.githubusercontent.com/assets/2349007/16690362/2b9eacc4-44ed-11e6-89ba-a4688d0e7891.png)

[2016-07-08 14:26] jordansread commented on #24
I still don't have the trend line appearing after the animation. I will take care of that later.

[2016-07-08 14:40] jordansread commented on #63
We did this for the first two backgrounds (sunset and bass underbelly), but the others are still modified images.

[2016-07-08 14:57] gjahansen2 commented on #61
Yes. but change last text section to read as above:

## Understanding recent trends and anticipating future changes can help decision-makers protect resilient populations and adapt to new conditions.

[2016-07-08 17:49] jordansread commented on #61
fixed in #73

[2016-07-08 17:49] #61 closed

[2016-07-08 17:56] jread-usgs opened #74 "Updates to futureSuitability figure"
Initial work was done in #28. This issue covers improvements to that figure.

- [x] improve tooltips. They are kind of herky-jerky in switching from right to left justified when the words are too long (right side of the fig). Plus, it might make sense to do some line wrapping so the tips aren't too long.
- [x] flip the order of some of the "flows" so that the skinnier lines are always on top of th

[2016-07-08 17:56] jordansread commented on #28
in #74 now

[2016-07-08 17:57] #28 closed

[2016-07-08 18:00] jread-usgs opened #75 "Updates to walleyeTrends figure"
takes over from #24

- [x] add a legend
- [x] add mouseover values to legend
- [x] have some of the fish appear/disappear w/ mouseover as values change?
- [ ] ~~add the trend line after animation is complete~~
- [ ] ~~expose a function to start the animation~~
- [x] script the fig for mobile too

current fig:
![image](https://cloud.githubusercontent.com/assets/2349007/16690362/2b9eacc4-44ed-11e6-8

[2016-07-08 18:00] jordansread commented on #24
now discussed in #75

[2016-07-08 18:00] #24 closed

[2016-07-08 18:05] jread-usgs opened #76 "Updates to walleyeBass figure"
takes over from #25

- [ ] ~~change bass values to be more intuitive rather than standardized relative abundance (Gretchen will send new data)~~ moved to #128
- [x] lock in bass values so the user only edits walleye
- [ ] ~~script the creation of this fig (is hand-edited `svg` now)~~
- [x] fix FF roll out bug ~~fixed in #98~~
- [x] add a legend
- [x] cut down on the amount of text we use to "draw

[2016-07-08 18:06] jordansread commented on #25
see #76

[2016-07-08 18:06] #25 closed

[2016-07-08 18:51] gjahansen2 commented on #27
Also, as per our discussion earlier today, what if we had a figure like this, showing the magnitude of warming (as colors, size of dots, or both) as a function of two critical lake variables (like lake size and clarity, or maybe depth):
![image](https://cloud.githubusercontent.com/assets/19436778/16698273/1cf1886a-4513-11e6-99f2-c5d059c44df1.png)

[2016-07-08 19:07] jordansread commented on #74
@gjahansen2 think we can manage removing some of the labels on the really small slices?
![image](https://cloud.githubusercontent.com/assets/2349007/16698720/4a65c5e8-4515-11e6-9a02-9ffb646c45e0.png)

trying to make this easy to read on mobile and smaller comp screens.

Note that the mouseovers still work

[2016-07-08 19:26] gjahansen2 commented on #74
I think people might wonder about them if we did that. Can you remove them
just on mobile but leave them on the desktop version?

On Fri, Jul 8, 2016 at 2:07 PM, Jordan S Read notifications@github.com
wrote:

##

Gretchen Hansen
https://gretchenhansen.squarespace.com

[2016-07-08 19:33] jordansread commented on #74
yes, we can do that. I am leaving the line of code that adds those in there, just commented out. For the time being I want to try leaving out those small labels for desktop too just so we can see how we feel (this isn't yet updated on dev), but we can easily add them back.

[2016-07-08 20:15] gjahansen2 commented on #27
![image](https://cloud.githubusercontent.com/assets/19436778/16700274/cfae75d4-451e-11e6-8ca4-472ea458e4f8.png)

[2016-07-08 20:16] gjahansen2 commented on #27
Maybe this won't work as nicely as I thought when using all lakes. Perhaps picking a representative set would work though.

[2016-07-08 20:17] jordansread commented on #27
interesting pattern though

[2016-07-09 15:44] jordansread commented on #74
Finished w/ #78

[2016-07-11 02:16] jordansread commented on #76
Legend not in place, but user data overlay from #79 :
![image](https://cloud.githubusercontent.com/assets/2349007/16718220/99cb9642-46e3-11e6-8f39-44952b4ee161.png)

[2016-07-12 15:39] jordansread commented on #76
@gjahansen2 can you add your ideas for the feedback the figure should give you for your guess?

[2016-07-12 15:44] jread-usgs commented on #74
@

[2016-07-12 15:45] jordansread commented on #74
@gjahansen2 can you add your `lose` and `gain` text here?

[2016-07-12 15:47] jread-usgs opened #80 "text for captions"

[2016-07-12 16:03] jread-usgs opened #81 "map for futureSuitability w/ fish categories"
Under the sankey, build a static map of part of WI, with a click-out to "explore more" as a leaflet map.

click lakes to get probabilities.

[2016-07-12 19:08] gjahansen2 commented on #80
Figure 1 (trends over time): Statewide average values over time for walleye recruitment (blue; indexed as catch of age-0 walleye per mile of electrofishing) and largemouth bass relative abundance (red; indexed as catch of largemouth bass greater than 8 inches in length per mile of electrofishing, presented on a standardized scale). Dashed lines show overall directional trend over time.

Figure 2 (

[2016-07-12 19:11] jordansread commented on #80
Great. Very helpful. I will add these

[2016-07-12 19:15] gjahansen2 commented on #74
OK, I will write out each one that needs to be changed. If it is not listed here, leave it as is. :
- [x] Walleye to coexist: X lakes gain largemouth bass
- [x] Walleye to bass: X lakes lose walleye and gain largemouth bass
- [x] Walleye to neither: X lakes lose walleye
- [x] Coexist to bass: X lakes lose walleye
- [x] Coexist to coexist: X lakes continue to support both species
- [x] **NOTE that

[2016-07-12 19:25] gjahansen2 commented on #76
The predicted probability of successful walleye recruitment declines as lakes get warmer. This decline is not linear. Instead, we observe a strong threshold response. This means that the probability of successful walleye recruitment is approximately constant up to a certain value of water temperature (about 2400 growing degree days, at which point the probability of natural walleye recruitment dec

[2016-07-12 19:27] gjahansen2 commented on #80
As I read it (and work on the text that describes Figure 2 after they make a guess), i think the caption could be there from the get-go. Then, could the response text pop up as some sort of text box or some way to make it really pop?

[2016-07-12 19:27] gjahansen2 commented on #76
Can we make the above text pop out in some way after the drawing is done, like in a text box, different color, font, etc?

[2016-07-12 19:29] jordansread commented on #80
is the response text the bullets?

[2016-07-12 19:56] gjahansen2 commented on #80
Yeah, I guess looking at the bullets again, those pretty much cover it. Can
we make them pop a bit more?

On Tue, Jul 12, 2016 at 2:29 PM, Jordan S Read notifications@github.com
wrote:

##

Gretchen Hansen
https://gretchenhansen.squarespace.com

[2016-07-12 19:58] jordansread commented on #80
yes, I want to make them pop more too

[2016-07-12 20:53] jordansread commented on #81
Iterating w/ GH on this, but here is the start for the WMS:
![image](https://cloud.githubusercontent.com/assets/2349007/16783728/dbae524e-484a-11e6-8440-9c1fe3779ccf.png)

at https://www.sciencebase.gov/catalog/item/imap/57854d3de4b0e02680bf201d

[2016-07-13 00:57] jordansread commented on #27
@lawinslow gretchen has a bunch of ideas for this section.

[2016-07-13 01:30] jordansread commented on #80
@gjahansen2 can you mock up how you think this should look after it is unfurled?

[2016-07-13 20:33] gjahansen2 commented on #27
![median_gdd_range_3lakes_highlighted](https://cloud.githubusercontent.com/assets/19436778/16818798/31134ec8-490f-11e6-85d6-d23f3bac2822.png)

[2016-07-15 15:35] gjahansen2 commented on #27
Or some other way of showing variability in lake responses to warming.

[2016-07-15 15:36] gjahansen2 commented on #80
@jread-usgs mock up of which - the you draw it figure with captions and bullets after they submit their guess?

[2016-07-15 15:37] jordansread commented on #80
yeah, the bullets and text and how they relate to the figure in terms of placement

[2016-07-15 15:37] gjahansen2 commented on #80
powerpoint time.

[2016-07-15 18:45] gjahansen2 commented on #80
![you draw it figure caption pre drawing](https://cloud.githubusercontent.com/assets/19436778/16885066/6abf3fb8-4a92-11e6-8d9d-28f3541527c6.jpg)

[2016-07-15 18:46] gjahansen2 commented on #80
![you draw it figure caption and pop up post drawing](https://cloud.githubusercontent.com/assets/19436778/16885076/7b77e83c-4a92-11e6-9542-1c91829a9073.jpg)

[2016-07-15 18:47] gjahansen2 commented on #80
New caption text:
Predicted probability of a lake supporting successful walleye recruitment and high largemouth bass abundance as a function of water temperature (degree days). Probabilities are based on a statistical model that incorporates other lake characteristics such as water clarity and lake size.

New bullet text:
- Water temperature influences the suitability of a lake for walleye and lar

[2016-07-21 20:58] jordansread commented on #81
Iterating with GH and @mhines-usgs on this. Megan created the fiddle:  http://jsfiddle.net/mkhines/m8q1xs19/

Ultimately, what we would like to do here is
- [x] host three different WMSs for the three different periods (jordan will do this; see #83
- [x] create a radio button to toggle between time periods (toggle between those layers). Force the user to have == one selected at all times
- [x] on

[2016-07-21 21:00] jread-usgs opened #83 "create and post layers for each of the time period for the map"
this is a subtask in #81 , which I will remove. Build shapefiles with the probabilities and species of dominance as attributes, along with other lake attributes: @gjahansen2 suggests lake name, size, clarity, and max depth

[2016-07-22 15:38] mhines-usgs commented on #81
I've got a few of these ticked off, I'll start on the radio toggle/layer toggle now. May just use other irrelevant layers until you have the other WMSs ready. Let me know any feedback on what is ticked.

[2016-07-22 15:40] mhines-usgs commented on #81
Re: the legend @jread-usgs , I'm using the legend graphic coming from ScienceBase WMS getCaps. If you want a No Data swatch, you should have one in the original shapefile/layer so that it'll feed in from there. Is that possible?

[2016-07-22 16:44] mhines-usgs commented on #81
For the last checkbox (have something that can be wrapped up and deploy as part of the viz)
- You'll have to copy & paste the html/js and css into new files and check into repo.
- You'll also want the leaflet.css, leaflet.js and jquery-1.10.1.min.js files that are "External Resources" in the fiddle currently.
- These will need to be referenced in the html file. make sure the html file also has a d

[2016-07-22 17:47] mhines-usgs commented on #81
three layers
1989-2014:
- https://www.sciencebase.gov/catalog/item/57924eafe4b0fc973c6bcc6d
- https://www.sciencebase.gov/catalogMaps/mapping/ows/57924eafe4b0fc973c6bcc6d?service=wms&request=getcapabilities&version=1.3.0

2040-2064:
- https://www.sciencebase.gov/catalog/item/57924fd3e4b0fc973c6bccdf
- https://www.sciencebase.gov/catalogMaps/mapping/ows/57924fd3e4b0fc973c6bccdf?service=wms&request=

[2016-07-22 20:13] mhines-usgs commented on #81
One for all:
https://www.sciencebase.gov/catalogMaps/mapping/ows/57927e39e4b0d02dcaaeed1d?service=wms&request=getcapabilities&version=1.3.0

[2016-07-22 20:18] mhines-usgs commented on #81
I think we're good here @jread-usgs !

Do you want me to check files into the repo? Or is someone else prepared to do that? Not sure how you'd like to work it into the viz.

[2016-07-22 20:26] jordansread commented on #81
yes, if you can check those files into the `sandbox` dir, we can figure out where @jiwalker-usgs wants them to live when we get that far.

[2016-07-22 21:10] jordansread commented on #81
![fishmap-thumbnail](https://cloud.githubusercontent.com/assets/2349007/17071385/e1e3fe64-5026-11e6-84dc-9582c1528e84.gif)

[2016-07-22 21:11] jordansread commented on #81
@gjahansen2 ☝️

[2016-07-22 21:12] mhines-usgs commented on #81
:heart_eyes:

[2016-07-22 22:00] mhines-usgs commented on #81
completed with: https://github.com/USGS-VIZLAB/climate-fish-habitat/pull/86

[2016-07-23 20:35] jordansread commented on #83
this is done, but we don't have lake size in there.

[2016-07-23 20:35] #81 closed

[2016-07-25 01:23] #74 closed

[2016-07-26 15:10] jread-usgs opened #90 "adjustments to mobile CSS"
mobile figure captions should have about half the font size they have now:

![image](https://cloud.githubusercontent.com/assets/2349007/17143490/09db43e2-5319-11e6-8f3c-2112565e9ee9.png)

bullet points in the list sections are a good size for desktop, but are too large for mobile. Reduce by about 25% if possible.

[2016-07-26 15:18] mwernimont commented on #90
![screen shot 2016-07-26 at 10 17 39 am](https://cloud.githubusercontent.com/assets/6390096/17143805/3ae5e464-531a-11e6-9fcd-a12a62db19eb.png)

@jread-usgs Smaller or good?

[2016-07-26 15:18] mwernimont commented on #90
![screen shot 2016-07-26 at 10 18 36 am](https://cloud.githubusercontent.com/assets/6390096/17143837/5a7e32fe-531a-11e6-879f-e9d02dd27f2f.png)

[2016-07-26 15:21] mwernimont commented on #90
![screen shot 2016-07-26 at 10 21 02 am](https://cloud.githubusercontent.com/assets/6390096/17143934/b22b3f74-531a-11e6-8442-29331ede9a52.png)

[2016-07-26 15:59] jordansread commented on #90
bullets look good, but captions seem too big (also, can they be centered?)

[2016-07-26 16:00] mwernimont commented on #90
@jread-usgs on just mobile or both for centered?

[2016-07-26 16:55] jordansread commented on #90
Centered for all please @mwernimont

[2016-07-26 17:58] mwernimont commented on #90
@jread-usgs #91 is merged, I centered the caption text and reduced it to .9em, it is 1.5em on desktop, so its a significant down size which does look nice on mobile/

[2016-07-26 18:21] jordansread commented on #90
thanks @mwernimont !

[2016-07-26 19:32] #90 closed

[2016-07-27 17:20] lawinslow commented on #27
@gjahansen2 trying the above figure style. Do you want the lake names on there? Are those lakes you listed the ones you want (have you checked values) otherwise, I found good spread on Trout/Mendota/Green lakes.

[2016-07-27 18:44] lawinslow commented on #27
![futurewarmingfig](https://cloud.githubusercontent.com/assets/347600/17187777/3e641d0e-5400-11e6-9774-fbc5a2c6074c.png)

[2016-07-27 19:20] gjahansen2 commented on #27
That looks great!

On Jul 27, 2016 1:44 PM, "Luke Winslow" notifications@github.com wrote:

[2016-07-27 19:37] lawinslow commented on #27
![futurewarmingfig](https://cloud.githubusercontent.com/assets/347600/17189579/b31a0d28-5407-11e6-95c6-2c1869adf69d.png)

[2016-07-27 19:39] lawinslow commented on #27
nah, I prefer this
![futurewarmingfig](https://cloud.githubusercontent.com/assets/347600/17189630/eedbadc6-5407-11e6-9377-3faf1d41849e.png)

[2016-07-29 12:14] jordansread commented on #26
@lawinslow any plans on this fig?

[2016-07-29 13:07] jordansread commented on #27
Do we need an inset map showing where these lakes are?

[2016-07-29 13:07] jordansread commented on #80
I think this is done now

[2016-07-29 13:07] #80 closed

[2016-07-29 13:08] jordansread commented on #83
Removed lake size and other attributes to focus on the results from the model.

currently looks like this:
![image](https://cloud.githubusercontent.com/assets/2349007/17249031/a7439eda-5563-11e6-9ab5-e1ce537e5fb1.png)

[2016-07-29 13:08] #83 closed

[2016-07-29 17:01] lawinslow commented on #27
Yeah, not a bad idea. Though I did try to pick relatively recognizable lakes. Even I know them, so I figured anyone interested in fishing/lakes would probably be familiar with them.

[2016-07-29 17:05] lawinslow commented on #26
No major plans. We can try the empirical approach, but I don't have the time to make it interactive.

[2016-07-29 20:19] jordansread commented on #46
@gjahansen2 should we iterate on an outline for this?

[2016-07-29 20:20] jordansread commented on #27
yeah, I think it is best for us to assume a good part of the audience to not be from WI.

[2016-07-30 19:13] jordansread commented on #26
OK, please give it a shot.

[2016-07-31 21:04] jordansread commented on #75
I have a PR coming shortly where we toss the line animation (hence me crossing it out ☝️ ). It is the only thing we need a trigger for right now, and it would be great to avoid that complexity. Instead, I replaced the animation w/ some random motion in the various fish shapes to make those look alive (a bit).

[2016-08-01 03:02] jordansread commented on #76
figure out how to get the roll-out to work properly on firefox (mac only?)
![image](https://cloud.githubusercontent.com/assets/2349007/17282335/660fcf52-576a-11e6-8431-5d52cff5e185.png)

[2016-08-01 15:27] gjahansen2 commented on #27
1. Agree with Jordan - we need to identify something about where these lakes are, and why we picked them (to show the range of lake responses).
2. I liked having some kind of light gray/transparent bar behind the dots, like in my version (which was real data, BTW). So there is an indication of the range of lake responses to climate, and we are highlighting a few well known lakes.
3. I liked the ol

[2016-08-01 15:29] gjahansen2 commented on #46
Yes, sorry for the delay. I need to check with supervisors at both WDNR and MNDNR if there is a protocol I need to follow.
Can I share the data vis development site with my supervisor here? With the knowledge that it is in draft form?

[2016-08-01 15:58] jordansread commented on #46
@gjahansen2 yes you can share w/ supervisors

[2016-08-01 16:00] jordansread commented on #75
@gjahansen2 after you play around with the fig I sent, I'd like to close this issue if you are 👍

[2016-08-01 16:03] jordansread commented on #75
from GH: `Yup. Cool. I get it now. I like this better.` closing

[2016-08-01 16:03] #75 closed

[2016-08-02 14:18] jordansread commented on #27
Yeah, I agree w/ `3` that the air temp fig is important context for the warming scenario (that it is the more extreme)

[2016-08-02 20:33] jread-usgs opened #99 "make map grey color darker"
here is what it looks like now:
![image](https://cloud.githubusercontent.com/assets/2349007/17344066/6ca6eb72-58c6-11e6-8fa2-a32a559733cc.png)

want a bigger contrast

[2016-08-02 20:37] jread-usgs opened #100 "Add helper note "click on a lake to get more information""

[2016-08-02 20:37] jordansread commented on #100
on the explore map

[2016-08-02 20:39] jordansread commented on #100
or a splash screen on top of the map when you enter. @gjahansen2 has ideas for text

[2016-08-02 20:42] jread-usgs opened #101 "text changes for accessibility"

[2016-08-03 20:29] gjahansen2 commented on #100
I need some feedback on this.

Text for screen when you enter the map site:

# PLEASE READ THIS FIRST!

## Welcome to the interactive map for viewing current and future predicted conditions for walleye and largemouth bass in Wisconsin lakes!

### Lakes are colored based on predicted habitat conditions for each species. Double-click on a lake for more information.

• "Walleye lakes” are predicted t

[2016-08-03 20:29] gjahansen2 commented on #100
Can we make the bullets colored to match the lake category colors? @jread-usgs

[2016-08-03 21:33] jread-usgs opened #102 "recreate the map w/ the new data"
Shapefile is now outdated

[2016-08-08 02:33] jordansread commented on #102
Done. @gjahansen2 please review the map

![image](https://cloud.githubusercontent.com/assets/2349007/17467686/8f3596b0-5ce6-11e6-98ff-4d941c3acc70.png)

[2016-08-08 02:34] jordansread commented on #99
![image](https://cloud.githubusercontent.com/assets/2349007/17467705/bcdd97a2-5ce6-11e6-966c-191e216c859d.png)

[2016-08-08 02:34] #99 closed

[2016-08-08 13:13] gjahansen2 commented on #102
Why is Petenwell missing? are there 2148 lakes in the map?

[2016-08-08 13:16] jordansread commented on #102
I will look into it

[2016-08-08 14:14] jordansread commented on #102
fixed. Can you verify @gjahansen2 ?

[2016-08-08 14:48] gjahansen2 commented on #102
looks good to me!

[2016-08-08 14:59] #102 closed

[2016-08-08 15:00] jread-usgs opened #103 "Get map on our geoserver?"
@mhines-usgs currently we point to SB for the WMS. Should we host on shared geoserver as offered by Blodgett?

[2016-08-08 15:22] gjahansen2 commented on #100
Can we change the legend to match the above definitions (walleye lakes and bass lakes as opposed to walleye dominant and bass dominant)? @jread-usgs

[2016-08-08 15:25] mhines-usgs commented on #103
It might be more stable than the SB service. Is his Geoserver available publicly?

I don't think anything would have to change but the end point for the WMS service but if you need troubleshooting after making the change, let me know.

[2016-08-08 15:30] jordansread commented on #100
Looks great. We'll mock something up for this

[2016-08-08 15:32] jordansread commented on #100
@mwernimont can you create this splash screen on the "explore" map that ends up here: http://localhost:8000/explore/map.html
?

[2016-08-08 16:07] gjahansen2 commented on #101
- [x] On walleye/bass trends figure, change "Walleye recruitment (#/mile)" to read "Natural walleye reproduction (# young of year fish per electrofishing mile)"
- [x] On walleye/bass trends figure, change "Bass relative abundance" to "Largemouth bass relative abundance"
- [x] On walleye/bass trends figure, change caption to "Statewide average values over time for walleye natural reproduction (blue

[2016-08-08 16:08] gjahansen2 commented on #101
Wow that is a big picture of me. I will ask Jon what pic he wants.

[2016-08-09 18:52] jordansread commented on #101
@gjahansen2 ☝️ why use °F for "Change map of lake warming since 1980 to be empirical trends, shown in Degrees F if possible."? Everything else is based on °C (e.g., degree days).

related to #26 that @lawinslow is working on

[2016-08-09 18:54] jordansread commented on #26
as per #101 , we might want to keep this to °C unless we are changing the degree day figs to °F degree days. Thoughts?

[2016-08-09 19:08] gjahansen2 commented on #101
@lawinslow @jread-usgs : This came from a suggestion that Lyons made. If the target audience is the general public, °C can be confusing or off-putting. I don't really want to change the GDD figures to °F, but I think we could (maybe) get away with that, since GDD is a rather abstract/confusing concept anyway (changing it to °F doesn't make it any more intuitive). In the contemporary trends figure

[2016-08-09 19:08] gjahansen2 commented on #26
See comments on #101 in response.   But, I think we still were hoping to have a map based on empirical trends, yes?

[2016-08-09 19:59] jordansread commented on #101
@gjahansen2 for the sankey use of "dominant", does that apply to the mouseovers too? for example:

![image](https://cloud.githubusercontent.com/assets/2349007/17531531/e37c2502-5e41-11e6-92ab-c647c6a96715.png)

[2016-08-09 20:04] gjahansen2 commented on #101
Yeah can we change to "1,843 lakes remain as Bass lakes"? This comes from
JF Hansen. he thinks it is more palatable.

On Tue, Aug 9, 2016 at 2:59 PM, Jordan S Read notifications@github.com
wrote:

##

Gretchen Hansen
https://gretchenhansen.squarespace.com

[2016-08-09 20:09] jordansread commented on #101
working on it.

[2016-08-09 20:19] jordansread commented on #101
side by side for "make thumbnail bigger":
![image](https://cloud.githubusercontent.com/assets/2349007/17532125/b959f97c-5e44-11e6-8b86-42bc5c34aa4a.png)

[2016-08-09 22:57] jordansread commented on #101
@gjahansen2 can we compromise w/ this:

![image](https://cloud.githubusercontent.com/assets/2349007/17536517/08d3e704-5e5b-11e6-9aed-aac37a79a091.png)

That other text was really long...

[2016-08-10 14:40] gjahansen2 commented on #101
That looks good. Thanks.

On Tue, Aug 9, 2016 at 5:57 PM, Jordan S Read notifications@github.com
wrote:

##

Gretchen Hansen
https://gretchenhansen.squarespace.com

[2016-08-10 22:41] jread-usgs opened #112 "Add economic impact of fishery"
@gjahansen2 can you think of how/where to work this in?

[2016-08-11 20:01] mwernimont commented on #100
@jread-usgs Is this still an issue?

[2016-08-11 20:48] jordansread commented on #101
closing this issue

[2016-08-11 20:48] #101 closed

[2016-08-11 20:49] jread-usgs opened #116 "build sankey toggle into svg"
right now we do an image swap. We should handle it within a single svg so it is standalone and smoother.

This is pending us actually wanting to move ahead w/ showing acreage, which I will defer to @gjahansen2 on. Won't work on this unless we are going to keep it.

[2016-08-11 21:00] gjahansen2 commented on #116
Let's see what WDNR staff thinks

[2016-08-25 13:55] jordansread commented on #46
Draft is done. Working w/ office of com for edits.

[2016-08-25 13:55] #46 closed

[2016-08-25 13:56] jread-usgs opened #118 "add event-specific analytics event tracking"

[2016-08-25 13:57] #63 closed

[2016-08-25 13:58] jread-usgs opened #119 "full IPDS review and approval"

[2016-08-30 18:20] gjahansen2 commented on #112
I think in the bullet points above the walleye/bass trends graph. Add this as the first bullet:
- Recreational fishing in Wisconsin is valued at over $2 billion annually.

(if we need a source/footnote it is http://asafishing.org/uploads/2011_ASASportfishing_in_America_Report_January_2013.pdf)

[2016-08-30 18:39] gjahansen2 opened #120 "Text changes based on feedback"
- [x] In the walleye bass trends section, edit the bullets and split into two groups. Above the figure have the following bullets (some are new and have been edited so copy exactly):

- Recreational fishing in Wisconsin is valued at over $2 billion annually.

- Anglers target both walleye and largemouth bass in Wisconsin lakes, but walleye are perceived as preferable and thus important to Wisconsi

[2016-08-30 18:41] gjahansen2 opened #121 "Edit disclaimer and add FAQ to map site"

[2016-08-30 18:44] gjahansen2 commented on #121
# PLEASE READ FIRST

## Welcome to the interactive map for viewing current and future predicted conditions for walleye and largemouth bass in Wisconsin lakes!

Lakes are colored based on predicted habitat conditions for each species. Double-click on a lake for more information.

Predictions of species dominance are available for three time periods - contemporary conditions (1989-2014), and two fut

[2016-08-30 18:44] gjahansen2 commented on #121
^^edited from current version

[2016-08-30 19:30] jordansread commented on #120
@gjahansen2 I have gotten feedback that when we have more then 3 bullets, we should just have a paragraph instead. How do you feel about that? Could cut down, or do more paragraphs

[2016-08-30 20:13] gjahansen2 commented on #120
I am changing the bullets and splitting them into more sections to avoid more than 3 at a time.

On Tue, Aug 30, 2016 at 2:30 PM, Jordan S Read notifications@github.com
wrote:

##

Gretchen Hansen
https://gretchenhansen.squarespace.com

[2016-09-02 13:56] jordansread commented on #119
this is in progress. Most of the way through, but working w/ @gjahansen2 to answer the reviewers.

[2016-09-02 14:03] gjahansen2 commented on #120
I will work on incorporating USGS edits as well

[2016-09-02 14:04] gjahansen2 commented on #76
Note the additional item as checkbox - change bass values to be on a more intuitive scale. I am working on it. @jread-usgs

[2016-09-02 14:50] gjahansen2 commented on #112
see #120

[2016-09-02 15:02] gjahansen2 commented on #120
@jread-usgs done, I think.

[2016-09-02 18:35] jread-usgs opened #123 ""read more" button for more info on GDD"
In the section under "Can you draw...", most of the first paragraph explains what GDD is. Let's keep the first sentence as is, and make the rest of that paragraph hidden unless the viewer clicks on something to expand. "More information on growing degree days" or "What are growing degree days" as a clickable button?

![image](https://cloud.githubusercontent.com/assets/2349007/18214347/2ac9d43a-711

[2016-09-02 19:33] jread-usgs opened #124 "figure suggestion from gretchen"
"On x-axis label of the 'you draw it' figure, add Lake Temperature to the label above Growing degree days (make the Lake temperature label bigger than the GDD label)."

![image](https://cloud.githubusercontent.com/assets/2349007/18216080/341eb67e-711a-11e6-908f-d3f1b2c68e30.png)

@gjahansen2 where does this text fit?

[2016-09-02 19:34] jordansread commented on #27
From Gretchen `change legend labels on future air temperature projections graph to be "High greenhouse gas emissions (A2)" and "Low greenhouse gas emissions (B1)".`

[2016-09-02 19:35] jordansread commented on #120
@gjahansen2 all are taken care of in #122 or moved into new (or existing) issues

[2016-09-02 19:35] #120 closed

[2016-09-02 19:53] #27 closed

[2016-09-02 19:55] jordansread commented on #121
covered in #122

[2016-09-02 19:55] #121 closed

[2016-09-02 19:56] jordansread commented on #112
in #122

[2016-09-02 19:56] #112 closed

[2016-09-04 16:42] jordansread commented on #118
we kind of need to have production analytics and dev/QA, so that we can test the events are happening on dev. Assuming we can do that, events (bold are must haves):
- [x] **hovered over wally trends**
- [x] **button clicks for GDD pattern (reset, finished, skip)**
- [x] **tried to draw GDD pattern (any dots)**
- [x] value of GDD guess
- [x] **hovered over sankey**
- [ ] clicked on map button
- [ ]

[2016-09-04 16:44] jread-usgs opened #126 "Create outreach plan and coordinate timing"
- [ ] press release
- [ ] press release distributed to (??, Wisconsin State Journal, Minneapolis Star, Detroit Free Press)
- [ ] twitter campaign (tweets drafted, timed, and coordinated)
- [ ] reddit https://www.reddit.com/r/dataisbeautiful/
- [ ] Others?

[2016-09-04 16:47] jread-usgs opened #127 "Can we have a small form at the end of this viz?"
Not sure about paperwork reduction act, etc, but it would be helpful to collect some user data:

Who are you (general public, manager, researcher, etc...)
Did you learn more about sport fish and climate change?
What section did you find most useful (list options)
Others?

[2016-09-04 18:19] jordansread commented on #118
Have a bunch of these in #117 , but will want some feedback on whether or not this is a good way to do events.

[2016-09-04 18:20] jordansread commented on #118
For some reason these events aren't sent in Safari (when the js is within the svg?). Update: it looks like the hover ones work for sankey and wally trends but none of the events within the GDD guess fig work on Safari.

[2016-09-05 10:44] jordansread commented on #100
this is complete. Thanks @mwernimont

[2016-09-05 10:44] #100 closed

[2016-09-05 10:46] jordansread commented on #124
OK, now I understand. @gjahansen2 I will need clarification as to whether this is a priority before the release, since that is really soon(!) and there are a lot of loose ends to clear up

[2016-09-05 10:48] jread-usgs opened #128 "change bass values to be more intuitive"
change bass values to be more intuitive rather than standardized relative abundance (Gretchen will send new data)

Also, note the trickle down effect of text and captions in the viz. We'll need to comb it if we change the units and make sure we are up to date w/ the figure.

[2016-09-05 10:49] #76 closed

[2016-09-05 10:51] jordansread commented on #26
Update: looks like Wiley moved the release up to September 7th. @lawinslow what is the plan w/ this figure? re-create with °F?

[2016-09-05 11:30] jread-usgs opened #129 "Add google analytics to prod deployment"

[2016-09-05 11:37] gjahansen2 commented on #124
Not a priority, I think other stuff is more important!

On Sep 5, 2016 5:46 AM, "Jordan S Read" notifications@github.com wrote:

[2016-09-05 11:40] jread-usgs opened #130 "Minor updates before release"
- [x] link to paper - JR (if they follow the pattern, should be http://onlinelibrary.wiley.com/doi/10.1111/gcb.13462/full)
- [x] link to data release - Emily
- [x] link to github - Emily
- [x] social media sharing icons/links - Laura & Marty
- [x] link to VIZLAB organization - Emily
- [x] create the JSON LD indexed content stuff (not sure what this is called, but we register site information, icon

[2016-09-05 12:00] jread-usgs opened #131 "draft tweets for release"
## option 1
![image](https://cloud.githubusercontent.com/assets/2349007/18246840/ecf54fbc-7333-11e6-80d9-274b4d0b2b61.png)

[code]

## option 2
![image](https://cloud.githubusercontent.com/assets/2349007/18247102/fdead646-7335-11e6-8366-e8c11f213c39.png)

[code]

and other options...?

[2016-09-05 12:02] jordansread commented on #131
@gjahansen2

[2016-09-05 12:05] gjahansen2 commented on #131
I like Figure 1 a lot, it is easier to digest quickly. So we could have that figure with same tweet as above (under Ada's picture). But obviously I love Ada's picture - can we do both? Each of us tweet a different image but with the publication link?

[2016-09-05 12:06] jordansread commented on #131
two pics? We'd need to drop some chars. And you want to link to the paper instead of the viz?

[2016-09-05 12:07] gjahansen2 commented on #128
Is this worth doing, given the trickle down changes that are required all around, and that it is not straightforward how to do this since the current scale is output from a mixed effects model that combines two gear types?

[2016-09-05 12:11] jread-usgs opened #132 "IE bug on map"
I don't have IE, but apparently, the header to this table is lost on IE:
![image](https://cloud.githubusercontent.com/assets/2349007/18247391/e58d8128-7337-11e6-9edb-f98010644351.png)

[2016-09-05 12:11] gjahansen2 commented on #131
No I mean two pics for two tweets. Shouldn't we link to both the paper and
the viz?

On Mon, Sep 5, 2016 at 7:06 AM, Jordan S Read notifications@github.com
wrote:

##

Gretchen Hansen
https://gretchenhansen.squarespace.com

[2016-09-05 12:24] jread-usgs opened #133 "Add FAQ to map"
"a button on the map that makes them pop out?"

Waiting on @gjahansen2 for FAQ text.

[2016-09-05 12:24] jordansread commented on #128
skipping this.

[2016-09-05 12:24] #128 closed

[2016-09-05 16:03] gjahansen2 commented on #133
[Frequently Asked Questions.docx](https://github.com/USGS-VIZLAB/climate-fish-habitat/files/455347/Frequently.Asked.Questions.docx)

[2016-09-05 16:10] gjahansen2 commented on #131
![gddeffect_bass_walleye](https://cloud.githubusercontent.com/assets/19436778/18253300/2bf814c2-7359-11e6-8e86-cf2c5ed7c799.png)
Projected shifts in fish species dominance in midwestern lakes under #climatechange. http://PUBLICATION_LINK

[2016-09-05 16:11] gjahansen2 commented on #131
I think I actually like Ada's pic the best for Twitter, if we have to pick just one. Still not clear on if it is better to tweet the paper, the data viz, or both (in two separate tweets)

[2016-09-05 19:31] lawinslow commented on #132
Here's how it looks in IE
![image](https://cloud.githubusercontent.com/assets/347600/18256035/71503344-7375-11e6-81a7-549534ab88d5.png)

[2016-09-05 23:16] jordansread commented on #131
if we get two from @USGS, one for each. But if we get only one, I vote we link to the viz. The viz will link to the paper, but the paper doesn't link to the viz. (and the viz should have a wider audience)

[2016-09-05 23:17] jordansread commented on #132
Thanks Luke. Pleasantly surprised this is our only IE issue that was noticed.

[2016-09-06 13:25] jordansread commented on #131
Am submitting requests for tweets to @USGS (500+K followers), @USGSAquaticLife (4K), @USGS_WI (1.6K), @USGS_Pubs (2.2K). We should pick and choose what content goes to each based on their audiences.

I suggest USGS and USGS_WI get the viz one, and the others focus on things related to the pub, and they would link to the pub. @gjahansen2 ?

[2016-09-06 13:31] jordansread commented on #132
@mwernimont can you take this one too?

[2016-09-06 13:37] jordansread commented on #126
I am working w/ Com on the press release, but they are expecting a delay of 2-3 days. I am pushing to expedite the timing so we can release it w/ the paper tomorrow am.

Working on drafting tweets as well, see #131

Haven't started drafting reddit post, but expect those to go out maybe on Thursday?

Should we create a timeline for all of these events and who is on point?

[2016-09-06 13:41] jordansread commented on #116
I think this is not going to happen. Working on making the toggle better @thongsav-usgs

[2016-09-06 14:12] jordansread commented on #103
[code]

@dblodgett-usgs see SLD ☝️

[2016-09-06 14:14] #116 closed

[2016-09-06 14:16] jordansread commented on #130
@mwernimont can you take a swing at the social media sharing links/icons? twitter and github are the two that come to mind.

[2016-09-06 14:17] jordansread commented on #123
@mwernimont if you can handle this one too

[2016-09-06 14:18] gjahansen2 commented on #131
That sounds like a good plan. Should the viz-related tweets have the Ada
picture (I think it will catch people's eye), and the publication tweet
have either the Sankey screenshot picture or Figure 1?

On Tue, Sep 6, 2016 at 8:25 AM, Jordan S Read notifications@github.com
wrote:

##

Gretchen Hansen
https://gretchenhansen.squarespace.com

[2016-09-06 14:20] jordansread commented on #131
I suggest we have a different pic for each tweet. Using Ada's on the highest profile (USGS) seems to make the most sense to me, and then we work on different images/figs for the other tweets.

[2016-09-06 14:24] jordansread commented on #131
@eread-usgs is working on timelines and twitter strategy

[2016-09-06 14:25] gjahansen2 commented on #131
OK, so USGS: Ada pic and link to viz
USGS WI: Fish or lake photo(from data viz site) and link to viz
USGS Aquatic life: Sankey (or another cool photo) and link to publication
USGS pubs: Sankey, Figure 1, or another cool photo and link to publication.

What is more likely to get people interested, a figure or a photo?

[2016-09-06 14:28] lawinslow commented on #131
Photo. IMHO

[2016-09-06 14:29] jordansread commented on #131
Can use two photos/fig, just costs us either 23 or 24 more chars

[2016-09-06 14:29] jordansread commented on #131
Or one image that is a mashup of two

[2016-09-06 14:48] dblodgett-usgs commented on #103
https://cida.usgs.gov/artifactory/webapp/#/artifacts/browse/tree/General/nwc-config/shp
http://internal.cida.usgs.gov/stash/projects/NWC/repos/nwc-configuration/pull-requests/97/overview
On dev here:
http://cidasddvasnwc.cr.usgs.gov:8082/geoserver/gwc/demo/vizlab:predicted_species_2065-2089?gridSet=EPSG:3857&format=image/png

Would be best to make WMS requests to this endppoint like this so the Ge

[2016-09-06 14:54] mwernimont commented on #133
@jread-usgs PR here #134

[2016-09-06 14:56] dblodgett-usgs commented on #103
Now on QA:
http://cida-test.er.usgs.gov/nwc/geoserver/gwc/demo/vizlab:predicted_species_1989-2014?gridSet=EPSG:3857&format=image/png
http://cida-test.er.usgs.gov/nwc/geoserver/gwc/demo/vizlab:predicted_species_2040-2064?gridSet=EPSG:3857&format=image/png
http://cida-test.er.usgs.gov/nwc/geoserver/gwc/demo/vizlab:predicted_species_2065-2089?gridSet=EPSG:3857&format=image/png

Also pre-populated the

[2016-09-06 14:57] dblodgett-usgs commented on #103
Will wait on review to push to prod.

[2016-09-06 15:52] lindsayplatt commented on #127
See issue in VIZLAB: https://github.com/USGS-VIZLAB/vizlab/issues/46

[2016-09-06 15:54] #127 closed

[2016-09-06 15:55] lindsayplatt commented on #119
Approved as of 9/6/16 9:00am

[2016-09-06 15:55] #119 closed

[2016-09-06 15:59] eread-usgs opened #135 "Set up CI jenkins jobs"

[2016-09-06 16:07] jordansread commented on #103
I am going to need some help working this into the app, but it looks great. Will snag someone here for the js help.

[2016-09-06 16:12] dblodgett-usgs commented on #103
If it's leaflet, make sure you use tiled=true and I think you should be good to go hitting the tile cache.

[2016-09-06 16:13] dblodgett-usgs commented on #103
Let me know when I should push the button on the production release

[2016-09-06 16:24] jordansread commented on #103
go for launch @dblodgett-usgs !

[2016-09-06 16:46] jiwalker-usgs commented on #135
one issue I just thought of for the CI is that we don't check in the target directory, so we will need a way to get the output to Jenkins

[2016-09-06 16:49] lawinslow commented on #135
Can it be built on Jenkins? Or is it a combined manual/automated process?

Otherwise, we could just check-in the target directory.

[2016-09-06 16:52] jiwalker-usgs commented on #135
It could be built in Jenkins, the setup might be a bit involved though.

[2016-09-06 16:58] lawinslow commented on #135
R > command not found.

Ok, I suggest we opt for checking in the target directory for now.

[2016-09-06 17:19] mwernimont commented on #123
@jread-usgs #139

[2016-09-06 17:52] gjahansen2 commented on #131
![img_3497](https://cloud.githubusercontent.com/assets/19436778/18284673/848cbdb8-7430-11e6-84fb-bc454b745ecd.JPG)
How will fish communities in #lakes respond to #climatechange? Find out here: PUBLICATIONLINK

[2016-09-06 17:56] gjahansen2 commented on #131
![118](https://cloud.githubusercontent.com/assets/19436778/18284871/59e1dcdc-7431-11e6-9e8f-0cdc47774848.JPG)

How will #walleye and #bass respond to #climatechange in WI lakes? Find out here: WebLINK

[2016-09-06 17:58] gjahansen2 commented on #131
![img_4718](https://cloud.githubusercontent.com/assets/19436778/18284920/91ae49f2-7431-11e6-9713-9f099dc4972d.JPG)
How will #bass and #walleye respond to #climatechange in WI lakes? Find out here: WebLINK

[2016-09-06 18:02] jordansread commented on #103
thanks @dblodgett-usgs and @jiwalker-usgs . Taken care of on #141 and #140

[2016-09-06 18:02] #103 closed

[2016-09-06 18:02] #133 closed

[2016-09-06 18:42] ldecicco-USGS commented on #135
Me too

[2016-09-06 18:59] jread-usgs opened #147 "change visited link"
![image](https://cloud.githubusercontent.com/assets/2349007/18286825/19c92066-743a-11e6-8983-8e856cad19df.png)

@mwernimont

[2016-09-06 18:59] jordansread commented on #147
the purple is hard to see

[2016-09-06 19:01] jordansread commented on #130
@lindsaycarr how are the alt text images coming?

[2016-09-06 19:01] #123 closed

[2016-09-06 19:02] jordansread commented on #118
@jiwalker-usgs can you add the link click event tracking that you mentioned?

[2016-09-06 19:02] jordansread commented on #118
and the chapter views?

[2016-09-06 19:33] gjahansen2 opened #151 "Fix "about map" link"
After x-ing out the Disclaimer on the map site, you can't re-open it (nothing happens when I click the "about map" button) @jread-usgs

[2016-09-06 19:42] gjahansen2 opened #153 "Final text edits"
- [x] Change second bullet in walleye/bass trends section to:
Anglers target both walleye and largemouth bass in Wisconsin lakes, but walleye are often preferred and are important to Wisconsin’s economy and culture.

- [x] Change helper text on you draw it figure (including deleting the last two example lines) :
Walleye are most likely to reproduce in cooler lakes. Bass are more likely to reach hi

[2016-09-06 19:44] gjahansen2 commented on #26
I just got a new version of the dev site but this figure still looks the same. Are we going to have a map of observed temperature trends to avoid the Lake Michigan weird warming effect? @lawinslow @jread-usgs

[2016-09-06 19:48] jordansread commented on #151
@mwernimont can you fix quick?

[2016-09-06 19:48] lindsayplatt commented on #131
@jread-usgs and @gjahansen2 additional images are do not cost characters (just the initial image is 25). There can be up to 4 images. Thought this might change your mind about what images to include where

[2016-09-06 19:49] jordansread commented on #153
@gjahansen2 did I miss your original text changes or are these new ones?

[2016-09-06 19:53] gjahansen2 commented on #153
it was probably something I did wrong or didn't catch before. I don't have
time to check my earlier text edits. Sorry if this is my fault and no
worries if you cant make these changes.

On Tue, Sep 6, 2016 at 2:49 PM, Jordan S Read notifications@github.com
wrote:

##

Gretchen Hansen
https://gretchenhansen.squarespace.com

[2016-09-06 19:53] jiwalker-usgs commented on #118
should we treat the map button like an outbound link?

[2016-09-06 19:56] jordansread commented on #153
@gjahansen2 assuming this third bullet is this one?
![image](https://cloud.githubusercontent.com/assets/2349007/18288686/15123546-7442-11e6-9bd8-18b4feaf7def.png)

[2016-09-06 19:58] gjahansen2 commented on #153
No, the previous section (lakes have gotten warmer)
![image](https://cloud.githubusercontent.com/assets/19436778/18288760/6373fbe8-7442-11e6-90c5-65a4621ddc09.png)

[2016-09-06 19:59] gjahansen2 commented on #153
the "suitability of a lake's habitat.." read awkwardly to me

[2016-09-06 20:14] lindsayplatt commented on #130
alt text for images PR: #149

[2016-09-06 20:17] mwernimont commented on #151
@jread-usgs #156

[2016-09-06 20:22] lawinslow commented on #26
No, I'd rather not do observed. Looking through it, uncertainty is extremely high for any single lake trend and so gives a false sense of uncertainty (and individual really high trends in lakes).

[2016-09-06 20:30] jordansread commented on #151
fixed

[2016-09-06 20:30] #151 closed

[2016-09-06 20:31] #153 closed

[2016-09-06 20:31] #130 closed

[2016-09-06 20:34] #147 closed

[2016-09-06 20:36] jread-usgs opened #158 "get all the links set up in the footer"
NECSC, DNR, UW, etc

https://www.doi.gov/csc/northeast
http://dnr.wi.gov/
http://www.wisc.edu/
https://nccwsc.usgs.gov/

[2016-09-06 20:38] jread-usgs opened #159 "tag first prod release"

[2016-09-06 20:38] jordansread commented on #118
yes

[2016-09-06 20:38] #118 closed

[2016-09-06 20:47] jiwalker-usgs commented on #129
This needs to change on both index.mustache and map.html

[2016-09-06 20:48] jordansread commented on #129
map has a separate one?

[2016-09-06 20:57] jiwalker-usgs commented on #129
same id, just separate declaration of ga tracker id

[2016-09-06 21:18] #26 closed

[2016-09-06 21:28] #124 closed

[2016-09-06 21:32] jordansread commented on #131
oh,,,,yeah. Let's do images and a fig from the paper or viz for some of these

[2016-09-06 22:13] #135 closed

[2016-09-06 22:13] #158 closed

[2016-09-06 22:52] lindsayplatt commented on #131
See ~~https://docs.google.com/spreadsheets/d/1wBgi_wMglqSxtbZDRNYVQM62eu868Uqz4tGmTieTJp0/edit#gid=0~~ DOI only

https://docs.google.com/spreadsheets/d/1tGOpyNDpxlkyaeGOyBJ7ZweDlplONoDETIOBYt_BIbI/edit#gid=0

[2016-09-06 22:53] #129 closed

[2016-09-06 23:20] #159 closed

[2016-09-07 15:29] jread-usgs opened #174 "modify "eventValue" to use something else"
GA doesn't give us access to the individual events, just the total and the average. We will need to do this in some other way. Options include using the `eventLabel` instead (a string) or timing (http://webmasters.stackexchange.com/questions/49398/histogram-view-of-event-value-distribution). Maybe other options exist. @jiwalker-usgs is looking into it.

[2016-09-07 17:19] jordansread commented on #174
going with `page`, `chapter`, `figure` for categories.

Actions are more specific and let you know what fig or page you are interacting with.

Labels are only used when they hold a specific value, as JSON. see #176 for examples

[2016-09-07 20:23] #174 closed

[2016-09-07 21:09] ldecicco-USGS opened #182 "Facebook share not working"
I can't figure out why. @mwernimont ?

Same code seems to work on blogs.

[2016-09-08 00:33] jordansread commented on #132
This was resolved in a PR today.

[2016-09-08 00:33] #132 closed

[2016-09-08 12:07] jread-usgs opened #183 "update publication release date"
Once paper is released, update text in `siteText.yaml`

[2016-09-08 14:03] mwernimont commented on #182
@ldecicco-USGS So when I click on the facebook button it opens up a face book popup in the upper left of my screen, is that not the intended functionality?

[2016-09-08 14:06] ldecicco-USGS commented on #182
That is, but the link is saying 404 Not found, and no picture:

![image](https://cloud.githubusercontent.com/assets/1105215/18352273/5aa3f4c0-75a3-11e6-92cd-6fae86037951.png)

Whereas in the blogs, it looks like this:

![image](https://cloud.githubusercontent.com/assets/1105215/18352295/76219018-75a3-11e6-9e66-be7a819dd861.png)

[2016-09-08 14:10] mwernimont commented on #182
`http://www.facebook.com/sharer.php?src=bm&u={{ permalink }}&t={{ title }}"`

I'm assuming it has something to do with the permalink address? I don't really know what thats pointing to. Maybe its different address when pointing from another website?

[2016-09-08 14:14] ldecicco-USGS commented on #182
yeah - when I View Source, the vizzies show:

"http://www.facebook.com/sharer.php?src=bm&u=https://owi.usgs.gov/vizlab/microplastics/&t=Microplastics in our Nation's Waterways"

and the blog show:

"http://www.facebook.com/sharer.php?src=bm&u=https%3a%2f%2fowi.usgs.gov%2fblog%2fplotFlowConc%2f&t=EGRET%20plotFlowConc%20using%20ggplot2"

I tried for a long time to force a url-encode into the vizzies

[2016-09-08 15:37] mwernimont commented on #182
@ldecicco-USGS Where does this all happen? Like where do we have the {{permalink}} code? like what fills in that

[2016-09-08 15:52] ldecicco-USGS commented on #182
So the top line of the siteText.yaml has:
permalink: https://owi.usgs.gov/vizlab/climate-change-walleye-bass/

I assume it's the same process as any other text from the siteText to the html...(all magic to me...)

[2016-09-12 15:05] #182 closed

[2016-09-12 15:06] #183 closed

[2016-09-12 15:19] #131 closed

[2016-09-12 15:19] #126 closed

[2016-09-12 15:20] ldecicco-USGS opened #188 "Keynote images zoomed in on ipad"
Same as:
https://github.com/USGS-VIZLAB/great-lakes-microplastics/issues/247

[2016-09-12 15:21] ldecicco-USGS commented on #188
I have no idea how to screen shot that to prove it.

[2016-09-13 16:23] #188 closed